.card {
  margin: 2rem auto 0 auto;
  max-width: 45rem;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
